/** {
  
}*/

body {
  font-family: inter;
  margin: 0 auto;
  background: white;
}

.all-news {
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news-box {
  margin: 0px 100px 0 100px;
}


.news {
  padding: 30px;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  background-color: white;
}

.news:hover {
  background: lightgrey;
  /* make this whatever you want */
}

.news-image {
  max-height: 200px;
  max-width: 350px;
}

.news-title {
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  color: rgb(64, 64, 64);
}

.head-text {
  margin-top: 30px;
}

.news-desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 20px;
  padding-bottom: 10px;
}

.news-author {
  margin-right: 10px;
}

.news-published {
  margin-right: 10px;
}

.news-source,
.news-published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}

.article-info {
  margin-left: 30px;
}